# server_rootCA.csr.cnf
[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=US
ST=Zion
L=Zion
O=Zion
OU=SelfSigned
emailAddress=localhost@localhost.ssl
CN = localhost.ssl